<style>

thead {color: black;}
thead{background: blue; font-style: italic;}
thead{font-size: 20px;}
tbody {color:black;}
tfoot {color: white;}
caption{color: black;}
tfoot{background: red;}
caption{font-size: 30px;}




body{
	background-color: silver ;
	

}

h1{
	 text-align: center;
	 font-size: 40px;
}

table{
	text-align: center;
}

img{
	max-height: 30px;
	max-width: 30px;
}



table, th, td {
    border: 1px solid black;

    
}

.rebaixados {
    color: red;
}
</style>